.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4dc;
}

.login-container {
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 400px;
}

h2 {
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: white; /* Ensures text fields have a white background */
  color: black; /* Ensures text is readable */
}

input:focus {
  border-color: var(
    --primary-color
  ); /* Change border color when the field is focused */
  outline: none;
}

button {
  width: 100%;
  padding: 10px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

button:hover {
  background-color: var(--primary-color);
}

.forgot-password {
  text-align: center;
  margin-top: 10px;
}

.forgot-password a {
  color: var(--primary-color);
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.navbar {
  position: absolute;
  top: 10px;
  right: 10px;
}

.navbar a {
  color: var(--primary-color);
  text-decoration: none;
  margin: 0 10px;
}

.navbar a:hover {
  text-decoration: underline;
}
